.event-list-item {
  margin-top: 20px;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #dadada;
}

.event-list-item a {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  line-height: 1;
  margin-bottom: 10px;
}

.event-list-item a:hover {
  text-decoration: underline;
}
